@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

/*--------- variable css ---------*/
:root {
  --header-height: 3rem;
  --navbar-width: 300px;

  /* colors */
  --primary-color: #ff3f3d;
  --primary-dark: #6f1b1a;
  --primary-darkest: #150505;
  --text-color: #54423d;
  --primary-light: #ff3f3d;
  --primary-lightest: #fffafa;
  --background: #fffafa;

  /* font */
  --body: "Noto Sans JP", sans-serif;
  --h1-size: 1.5rem;
  --h2-size: 1.25rem;
  --h3-size: 1rem;
  --normal-size: 0.938rem;
  --small-size: 0.813rem;
  --smallest-size: 0.75rem;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 800;

  --z-index: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-size: 2.25rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --normal-s-ze: 1rem;
    --small-size: 0.875rem;
    --smallest-size: 0.813rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: var(--body);
  font-size: var(--normal-size);
  font-weight: var(--font-medium);
  line-height: 1.6;
  margin: var(--header-height) 0 0 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h3 {
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.section {
  padding: 4rem 0 2rem;
}

.section-title {
  font-size: var(--h1-size);
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  text-align: center;
}

.section-subtitle {
  color: var(--primary-darkest);
  display: block;
  font-size: var(--small-size);
  font-weight: var(--font-bold);
  margin-bottom: 0.25rem;
  text-align: center;
}

/*--------- Layout ---------*/

.grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 1rem;
  width: calc(100% - 1rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index);
  background-color: var(--primary-lightest);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*--------- Navigation ---------*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  transition: 0.5s;
}

.nav_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--primary-dark);
  cursor: pointer;
}

.nav_item {
  margin-bottom: 2rem;
}

.nav_link {
  font-size: 1rem;
  color: var(--primary-lightest);
  font-weight: var(--font-bold);
  transition: 0.3s;
  margin: 40px;
  text-align: center;
}

.nav_link:hover {
  color: var(--text-color);
}

.nav_toggle {
  color: var(--primary-dark);
  font-size: 1.3rem;
  cursor: pointer;
}

/*--------- show ---------*/
.show {
  left: 0;
}

/*--------- active ---------*/
.active {
  color: var(--text-color);
}
/*--------- home ---------*/
.home_container {
  height: calc(100vh - var(--header-height));
  align-items: center;
}

.home_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}

.home_img {
  padding-top: 1.3rem;
  padding-left: 0.8ren;
  width: 160px;
  height: 160px;
  /* background-color: var(--primary-color); */
  border-radius: 50%;
  margin-bottom: 1rem;
}

.home_img img {
  width: 155px;
  border-radius: 100px;
}

.home_title {
  font-size: var(--h1-size);
  color: var(--primary-color);
  font-weight: var(--font-semibold);
}

.profession {
  font-size: var(--small-size);
  color: var(--primary-dark);
  margin-bottom: 2.5rem;
}

.social_home {
  margin-bottom: 5rem;
}

.home_social_link {
  display: inline-flex;
  background-color: var(--primary-color);
  color: var(--primary-lightest);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0 0.5rem;
  transition: 0.3s;
}

.home_social_link:hover {
  background-color: var(--primary-dark);
}
.home_social_link:active {
  transform: translateY(4px);
}
/* May or not need button */

.home_button {
  width: 100%;
}

.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--primary-lightest);
  padding: 1rem 2rem;
  font-weight: var(--font-semibold);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--primary-dark);
}

.button_light {
  background-color: var(--primary-lightest);
  color: var(--primary-color);
}

.button_light:hover {
  color: var(--primary-lightest);
}

/*--------- about ---------*/
.about_container {
  row-gap: 2rem;
}

.about_data {
  text-align: center;
}

.about_description {
  margin-top: 2rem;
  text-align: center;
}

.about_img {
  width: 150px;
  border-radius: 0.5rem;
  margin: 0 auto;
}

.about_info {
  margin-bottom: 2rem;
}

.about_info_title {
  font-size: var(--h3-size);
  color: var(--primary-dark);
  margin-bottom: 1rem;
}

.info-data {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.about_icon {
  font-weight: 1.5rem;
  color: var(--primary-color);
  margin-right: 2rem;
}

/*--------- works ---------*/
.works_container {
  justify-items: center;
  row-gap: 2rem;
}

.works_img {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.works_data {
  bottom: -100%;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(204, 75, 44, 0.7);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.works_link {
  border-radius: 0.25rem;
  display: inline-flex;
  font-size: 1.5rem;
  background-color: var(--primary-lightest);
  color: var(--primary-color);
  padding: 0.25rem;
  margin-bottom: 1rem;
}

.works_title {
  font-size: var(--h2-size);
  color: var(--primary-lightest);
}

.works_img:hover .works_data {
  bottom: 0;
}

/*--------- Contact ---------*/
.contact_container {
  row-gap: 3rem;
}

.contact_input {
  width: 98%;
  padding: 1rem;
  outline: none;
  border: 2px solid var(--primary-light);
  background-color: var(--primary-lightest);
  font-size: var(--normal-size);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.contact ::placeholder {
  color: var(--primary-dark);
  font-family: var(--body);
  font-weight: var(--font-medium);
}

.contact_button {
  outline: none;
  border: none;
  font-family: var(--body);
  font-size: var(--normal-size);
  cursor: pointer;
}

.contact_info {
  margin-bottom: 1.5rem;
}

.contact_subtitle {
  font-size: var(--h3-size);
  color: var(--primary-dark);
  margin-bottom: 0.5rem;
}

.contact_text {
  display: block;
  padding-left: 1rem;
}

/*--------- Footer ---------*/
.footer {
  background-color: var(--primary-darkest);
  color: var(--primary-lightest);
  text-align: center;
}

.footer_title {
  font-size: var(--h1-size);
  margin-bottom: 1rem;
}

.footer_description {
  margin-bottom: 1rem;
}

.footer_social {
  margin-bottom: 3rem;
}

.footer_link {
  display: inline-flex;
  background-color: var(--primary-color);
  color: var(--primary-lightest);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 0.5rem;
}

.footer_link:hover {
  background-color: var(--primary-lightest);
  color: var(--primary-color);
}

.footer_rights {
  font-size: var(--smallest-size);
  color: var(--text-color);
}

/* ------------ MEDIA QUERIES ------------ */

/* Tablet */
@media screen and (min-width: 768px) {
  .home_button {
    width: initial;
  }
  .menu {
    width: var(--navbar-width);
  }
  .about_container,
  .works_container,
  .contact_container,
  .contact_inputs {
    grid-template-columns: repeat(2, 1fr);
  }

  .about_data {
    text-align: initial;
  }
  .about_description {
    margin-bottom: 2.5rem;
  }
  .about_information {
    padding-left: 4rem;
  }
  .contact_inputs {
    display: grid;
    column-gap: 1.5rem;
  }
  .contact_info {
    padding-left: 3rem;
  }
  .footer {
    background: none;
  }
  .footer_container {
    background-color: var(--primary-darkest);
    padding: 3rem 0;
    border-radius: 0.5rem;
  }
}

/* computer */
@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    padding-left: var(--navbar-width);
  }

  .header {
    width: 0;
  }
  .nav_toggle,
  .nav_logo,
  .nav_close {
    display: none;
  }
  .menu {
    left: 0;
  }
  .nav_link {
    text-align: left;
  }
  .home_container {
    height: 100vh;
  }
  .section {
    padding: 3rem 0 2rem;
  }
  .grid {
    margin-left: auto;
    margin-right: auto;
  }
  .works_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
